In [2]:
#Cria sessão Spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pyspark.sql.functions as F

In [3]:
#Instância Spark
spark = SparkSession.builder.appName('Curso Pyspark') \
         .config('spark.sql.repl.eagerEval.enabled', True) \
         .getOrCreate()

In [4]:
# lendo um arquivo parquet
df = spark.read.parquet('./DATASETS/IMC.parquet')

In [5]:
df.show(20, False)

+----------------------+------+------+
|nome                  |altura|peso  |
+----------------------+------+------+
|Pietra Fernandes      |176   |97.88 |
|Ana Júlia da Rosa     |163   |80.56 |
|Fernando Martins      |150   |85.55 |
|Isis Silveira         |173   |70.1  |
|Cecília Porto         |190   |93.42 |
|Sra. Bruna Almeida    |198   |73.07 |
|Maria Julia Silva     |170   |71.36 |
|Pedro Henrique da Cruz|188   |105.57|
|Davi Lucas Campos     |180   |98.49 |
|Juan Gonçalves        |175   |71.87 |
+----------------------+------+------+

In [14]:
(
    df
    # função de arrendondamento (casas decimais)
    .withColumn('round', F.round(df.peso, 1))
    #arrendondar sempre para cima
    .withColumn('ceil', F.ceil(df.peso))
    #arrendondar sempre para baixo
    .withColumn('floor', F.floor(df.peso))
    # criando coluna com númer negativos
    .withColumn('altura_negativa', -F.col('altura'))
    #somente valores absolutos (positivos)
    .withColumn('abs', F.abs(F.col('altura_negativa')))
    # criar potencia 
    .withColumn('pow', F.pow(df.peso, 2))
    # raiz quadrada
    .withColumn('sqrt', F.sqrt(F.col('pow')))

)

+--------------------+------+------+-----+----+-----+---------------+---+------------------+------+
|                nome|altura|  peso|round|ceil|floor|altura_negativa|abs|               pow|  sqrt|
+--------------------+------+------+-----+----+-----+---------------+---+------------------+------+
|    Pietra Fernandes|   176| 97.88| 97.9|  98|   97|           -176|176|         9580.4944| 97.88|
|   Ana Júlia da Rosa|   163| 80.56| 80.6|  81|   80|           -163|163| 6489.913600000001| 80.56|
|    Fernando Martins|   150| 85.55| 85.6|  86|   85|           -150|150|         7318.8025| 85.55|
|       Isis Silveira|   173|  70.1| 70.1|  71|   70|           -173|173| 4914.009999999999|  70.1|
|       Cecília Porto|   190| 93.42| 93.4|  94|   93|           -190|190| 8727.296400000001| 93.42|
|  Sra. Bruna Almeida|   198| 73.07| 73.1|  74|   73|           -198|198| 5339.224899999999| 73.07|
|   Maria Julia Silva|   170| 71.36| 71.4|  72|   71|           -170|170|         5092.2496| 71.36|
|Pedro Henrique da...|   188|105.57|105.6| 106|  105|           -188|188|11145.024899999999|105.57|
|   Davi Lucas Campos|   180| 98.49| 98.5|  99|   98|           -180|180| 9700.280099999998| 98.49|
|      Juan Gonçalves|   175| 71.87| 71.9|  72|   71|           -175|175|         5165.2969| 71.87|
+--------------------+------+------+-----+----+-----+---------------+---+------------------+------+

In [26]:
# Calculo de IMC
(
    df
    .withColumn('imc', F.round(F.col('peso')/F.pow(F.format_number(df.altura / 100, 2),2),2))
)

+--------------------+------+------+-----+
|                nome|altura|  peso|  imc|
+--------------------+------+------+-----+
|    Pietra Fernandes|   176| 97.88| 31.6|
|   Ana Júlia da Rosa|   163| 80.56|30.32|
|    Fernando Martins|   150| 85.55|38.02|
|       Isis Silveira|   173|  70.1|23.42|
|       Cecília Porto|   190| 93.42|25.88|
|  Sra. Bruna Almeida|   198| 73.07|18.64|
|   Maria Julia Silva|   170| 71.36|24.69|
|Pedro Henrique da...|   188|105.57|29.87|
|   Davi Lucas Campos|   180| 98.49| 30.4|
|      Juan Gonçalves|   175| 71.87|23.47|
+--------------------+------+------+-----+