In [2]:
#Cria sessão Spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pyspark.sql.functions as F

In [3]:
#Instância Spark
spark = SparkSession.builder.appName('Curso Pyspark') \
         .config('spark.sql.repl.eagerEval.enabled', True) \
         .getOrCreate()

In [4]:
# lendo um arquivo parquet
df = spark.read.parquet('./DATASETS/LOGINS.parquet').select('data_de_nascimento','data_cadastro')

In [5]:
df.show(20, False)

+------------------+-------------+
|data_de_nascimento|data_cadastro|
+------------------+-------------+
|2006-12-18        |2023-02-26   |
|1992-06-17        |2023-02-16   |
|1921-11-11        |2023-01-02   |
|2021-06-01        |2023-01-08   |
|1969-10-28        |2023-02-14   |
|1986-05-19        |2023-03-07   |
|2018-04-20        |2023-01-13   |
|1996-05-12        |2023-02-04   |
|2021-10-05        |2023-03-02   |
|1917-01-05        |2023-02-21   |
|1912-05-25        |2023-01-25   |
|1920-05-26        |2023-02-18   |
|1938-03-11        |2023-01-19   |
|1922-09-01        |2023-02-01   |
|2013-01-10        |2023-01-07   |
|1992-10-16        |2023-01-05   |
|1945-11-18        |2023-01-24   |
|1915-11-15        |2023-01-22   |
|1964-02-01        |2023-02-16   |
|1959-02-01        |2023-02-25   |
+------------------+-------------+
only showing top 20 rows

In [18]:

(
    df
    # adicionar um mês a frente
    .withColumn('add_months', F.add_months(df.data_cadastro, 1))
    .withColumn('add_months2', F.add_months(df.data_cadastro, -1))
    # data atual
    .withColumn('current_date', F.current_date())
    # hora atual
    .withColumn('current_timestamp', F.current_timestamp())
    # adicionar dias
     .withColumn('date_add', F.date_add(df.data_cadastro, 15))
     .withColumn('date_add2', F.date_add(df.data_cadastro, -15))
    # subtrair dias
     .withColumn('date_sub', F.date_sub(df.data_cadastro, 15))
     .withColumn('date_sub2', F.date_sub(df.data_cadastro, -15))
    # formatar data
    #  d = dia (dd)
    #  M = mês (MM = zero a esquerda) ou (MMM = abrevidado) ou (MMMM = completo)
    #  y = ano (yy)
    #  E = dia da semana
    # https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html
    .withColumn('date_format', F.date_format(df.data_de_nascimento, 'E, dd MMMM yyyy'))
    # diferença em dias de duas datas
    .withColumn('datediff', F.datediff(F.current_date(), df.data_de_nascimento))
    # extrair o dia de uma data
    .withColumn('dayofmonth', F.dayofmonth(df.data_de_nascimento))
    # mostrar o dia de semana de uma data
    .withColumn('dayofweek', F.dayofweek(df.data_de_nascimento))
    # mostrar a semana do ano
    .withColumn('weekofyear', F.weekofyear(df.data_de_nascimento))
    # extrair ano de uma data
    .withColumn('year', F.year(df.data_de_nascimento))
    # extrair o mês de uma data
    .withColumn('month', F.month(df.data_de_nascimento))
    # extrair ultimo dia do mês
    .withColumn('last_day', F.last_day(df.data_de_nascimento))
    # clacular quantos mês de diferença entre datas
    .withColumn('months_between', F.months_between(F.current_date(), df.data_de_nascimento))
    # o proximo dia da semana apartir de uma data
    .withColumn('next_day', F.next_day(df.data_de_nascimento, 'Mon'))
    # criar uma coluna de data
    .withColumn('make_date', F.make_date(F.lit(2024),F.lit(7),F.lit(17)))
    # transforma string em data
    .withColumn('to_date', F.to_date(F.lit('2024-07-17')))
    .show(20, False)
)

+------------------+-------------+----------+-----------+------------+------------------------+----------+----------+----------+----------+----------------------+--------+----------+---------+----------+----+-----+----------+--------------+----------+----------+----------+
|data_de_nascimento|data_cadastro|add_months|add_months2|current_date|current_timestamp       |date_add  |date_add2 |date_sub  |date_sub2 |date_format           |datediff|dayofmonth|dayofweek|weekofyear|year|month|last_day  |months_between|next_day  |make_date |to_date   |
+------------------+-------------+----------+-----------+------------+------------------------+----------+----------+----------+----------+----------------------+--------+----------+---------+----------+----+-----+----------+--------------+----------+----------+----------+
|2006-12-18        |2023-02-26   |2023-03-26|2023-01-26 |2024-07-17  |2024-07-17 17:50:58.2716|2023-03-13|2023-02-11|2023-02-11|2023-03-13|Mon, 18 December 2006 |6421    |18        |2        |51        |2006|12   |2006-12-31|210.96774194  |2006-12-25|2024-07-17|2024-07-17|
|1992-06-17        |2023-02-16   |2023-03-16|2023-01-16 |2024-07-17  |2024-07-17 17:50:58.2716|2023-03-03|2023-02-01|2023-02-01|2023-03-03|Wed, 17 June 1992     |11718   |17        |4        |25        |1992|6    |1992-06-30|385.0         |1992-06-22|2024-07-17|2024-07-17|
|1921-11-11        |2023-01-02   |2023-02-02|2022-12-02 |2024-07-17  |2024-07-17 17:50:58.2716|2023-01-17|2022-12-18|2022-12-18|2023-01-17|Fri, 11 November 1921 |37504   |11        |6        |45        |1921|11   |1921-11-30|1232.19354839 |1921-11-14|2024-07-17|2024-07-17|
|2021-06-01        |2023-01-08   |2023-02-08|2022-12-08 |2024-07-17  |2024-07-17 17:50:58.2716|2023-01-23|2022-12-24|2022-12-24|2023-01-23|Tue, 01 June 2021     |1142    |1         |3        |22        |2021|6    |2021-06-30|37.51612903   |2021-06-07|2024-07-17|2024-07-17|
|1969-10-28        |2023-02-14   |2023-03-14|2023-01-14 |2024-07-17  |2024-07-17 17:50:58.2716|2023-03-01|2023-01-30|2023-01-30|2023-03-01|Tue, 28 October 1969  |19986   |28        |3        |44        |1969|10   |1969-10-31|656.64516129  |1969-11-03|2024-07-17|2024-07-17|
|1986-05-19        |2023-03-07   |2023-04-07|2023-02-07 |2024-07-17  |2024-07-17 17:50:58.2716|2023-03-22|2023-02-20|2023-02-20|2023-03-22|Mon, 19 May 1986      |13939   |19        |2        |21        |1986|5    |1986-05-31|457.93548387  |1986-05-26|2024-07-17|2024-07-17|
|2018-04-20        |2023-01-13   |2023-02-13|2022-12-13 |2024-07-17  |2024-07-17 17:50:58.2716|2023-01-28|2022-12-29|2022-12-29|2023-01-28|Fri, 20 April 2018    |2280    |20        |6        |16        |2018|4    |2018-04-30|74.90322581   |2018-04-23|2024-07-17|2024-07-17|
|1996-05-12        |2023-02-04   |2023-03-04|2023-01-04 |2024-07-17  |2024-07-17 17:50:58.2716|2023-02-19|2023-01-20|2023-01-20|2023-02-19|Sun, 12 May 1996      |10293   |12        |1        |19        |1996|5    |1996-05-31|338.16129032  |1996-05-13|2024-07-17|2024-07-17|
|2021-10-05        |2023-03-02   |2023-04-02|2023-02-02 |2024-07-17  |2024-07-17 17:50:58.2716|2023-03-17|2023-02-15|2023-02-15|2023-03-17|Tue, 05 October 2021  |1016    |5         |3        |40        |2021|10   |2021-10-31|33.38709677   |2021-10-11|2024-07-17|2024-07-17|
|1917-01-05        |2023-02-21   |2023-03-21|2023-01-21 |2024-07-17  |2024-07-17 17:50:58.2716|2023-03-08|2023-02-06|2023-02-06|2023-03-08|Fri, 05 January 1917  |39275   |5         |6        |1         |1917|1    |1917-01-31|1290.38709677 |1917-01-08|2024-07-17|2024-07-17|
|1912-05-25        |2023-01-25   |2023-02-25|2022-12-25 |2024-07-17  |2024-07-17 17:50:58.2716|2023-02-09|2023-01-10|2023-01-10|2023-02-09|Sat, 25 May 1912      |40961   |25        |7        |21        |1912|5    |1912-05-31|1345.74193548 |1912-05-27|2024-07-17|2024-07-17|
|1920-05-26        |2023-02-18   |2023-03-18|2023-01-18 |2024-07-17  |2024-07-17 17:50:58.2716|2023-03-05|2023-02-03|2023-02-03|2023-03-05|Wed, 26 May 1920      |38038   |26        |4        |22        |1920|5    |1920-05-31|1249.70967742 |1920-05-31|2024-07-17|2024-07-17|
|1938-03-11        |2023-01-19   |2023-02-19|2022-12-19 |2024-07-17  |2024-07-17 17:50:58.2716|2023-02-03|2023-01-04|2023-01-04|2023-02-03|Fri, 11 March 1938    |31540   |11        |6        |10        |1938|3    |1938-03-31|1036.19354839 |1938-03-14|2024-07-17|2024-07-17|
|1922-09-01        |2023-02-01   |2023-03-01|2023-01-01 |2024-07-17  |2024-07-17 17:50:58.2716|2023-02-16|2023-01-17|2023-01-17|2023-02-16|Fri, 01 September 1922|37210   |1         |6        |35        |1922|9    |1922-09-30|1222.51612903 |1922-09-04|2024-07-17|2024-07-17|
|2013-01-10        |2023-01-07   |2023-02-07|2022-12-07 |2024-07-17  |2024-07-17 17:50:58.2716|2023-01-22|2022-12-23|2022-12-23|2023-01-22|Thu, 10 January 2013  |4206    |10        |5        |2         |2013|1    |2013-01-31|138.22580645  |2013-01-14|2024-07-17|2024-07-17|
|1992-10-16        |2023-01-05   |2023-02-05|2022-12-05 |2024-07-17  |2024-07-17 17:50:58.2716|2023-01-20|2022-12-21|2022-12-21|2023-01-20|Fri, 16 October 1992  |11597   |16        |6        |42        |1992|10   |1992-10-31|381.03225806  |1992-10-19|2024-07-17|2024-07-17|
|1945-11-18        |2023-01-24   |2023-02-24|2022-12-24 |2024-07-17  |2024-07-17 17:50:58.2716|2023-02-08|2023-01-09|2023-01-09|2023-02-08|Sun, 18 November 1945 |28731   |18        |1        |46        |1945|11   |1945-11-30|943.96774194  |1945-11-19|2024-07-17|2024-07-17|
|1915-11-15        |2023-01-22   |2023-02-22|2022-12-22 |2024-07-17  |2024-07-17 17:50:58.2716|2023-02-06|2023-01-07|2023-01-07|2023-02-06|Mon, 15 November 1915 |39692   |15        |2        |46        |1915|11   |1915-11-30|1304.06451613 |1915-11-22|2024-07-17|2024-07-17|
|1964-02-01        |2023-02-16   |2023-03-16|2023-01-16 |2024-07-17  |2024-07-17 17:50:58.2716|2023-03-03|2023-02-01|2023-02-01|2023-03-03|Sat, 01 February 1964 |22082   |1         |7        |5         |1964|2    |1964-02-29|725.51612903  |1964-02-03|2024-07-17|2024-07-17|
|1959-02-01        |2023-02-25   |2023-03-25|2023-01-25 |2024-07-17  |2024-07-17 17:50:58.2716|2023-03-12|2023-02-10|2023-02-10|2023-03-12|Sun, 01 February 1959 |23908   |1         |1        |5         |1959|2    |1959-02-28|785.51612903  |1959-02-02|2024-07-17|2024-07-17|
+------------------+-------------+----------+-----------+------------+------------------------+----------+----------+----------+----------+----------------------+--------+----------+---------+----------+----+-----+----------+--------------+----------+----------+----------+
only showing top 20 rows