In [2]:
#Cria sessão Spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pyspark.sql.functions as F

In [3]:
#Instância Spark
spark = SparkSession.builder.appName('Curso Pyspark') \
         .config('spark.sql.repl.eagerEval.enabled', True) \
         .getOrCreate()

In [4]:
# lendo um arquivo parquet
df = spark.read.parquet('./DATASETS/LOGINS.parquet')

In [5]:
df.show(20, False)

+--------------+----------------------------------+----------+------------------+------+-------------+---------------+------------+---------------------------+-------------------+
|cpf           |email                             |senha     |data_de_nascimento|estado|data_cadastro|ipv4           |cor_favorita|profissao                  |telefone           |
+--------------+----------------------------------+----------+------------------+------+-------------+---------------+------------+---------------------------+-------------------+
|981.507.362-12|pedro-lucas53@gmail.com           |+7^7E%xFBc|2006-12-18        |RR    |2023-02-26   |99.107.250.210 |Roxo        |Jogador De Golfe           |31 7785-4046       |
|493.705.168-75|rezendeisaac@hotmail.com          |_O_2GRnGOe|1992-06-17        |GO    |2023-02-16   |197.11.26.213  |Ciano       |Atleta De Arremesso De Peso|(031) 0803-6753    |
|398.471.625-73|felipepires@uol.com.br            |*Aw5EOAvy9|1921-11-11        |MG    |2023-01-02   |181.90.63.58   |Azul        |Papiloscopista             |11 9674-0553       |
|092.618.354-06|stellamoraes@bol.com.br           |mw0AWYAs#s|2021-06-01        |AC    |2023-01-08   |26.121.127.94  |Marrom      |Aeromoça                   |+55 (071) 3033 9177|
|509.427.136-99|wcarvalho@ig.com.br               |pGD%!2Pq5X|1969-10-28        |AP    |2023-02-14   |76.184.52.163  |Laranja     |Fonoaudiólogo              |+55 (071) 6272 2468|
|218.795.460-94|da-conceicaodavi-lucas@hotmail.com|uhBbFxPA&9|1986-05-19        |MG    |2023-03-07   |192.93.0.24    |Rosa        |Taxista                    |+55 84 0652 9691   |
|715.836.940-48|efreitas@bol.com.br               |s#q9VZt&xl|2018-04-20        |MG    |2023-01-13   |76.251.188.148 |Branco      |Produtor De Audio Visual   |+55 (084) 1363 0052|
|475.698.032-56|wnunes@bol.com.br                 |_8az1W%n7g|1996-05-12        |SE    |2023-02-04   |139.196.176.154|Azul        |Cadeirinha                 |(071) 1640-3388    |
|217.639.540-99|jribeiro@bol.com.br               |MEf1X7fj_0|2021-10-05        |PA    |2023-03-02   |71.22.224.5    |Marrom      |Geólogo                    |21 1432 4092       |
|261.938.750-77|murilo05@gmail.com                |Te&gO7GkKs|1917-01-05        |MT    |2023-02-21   |136.54.123.165 |Marrom      |Técnico De Som             |+55 (084) 5878-3346|
|520.831.796-68|joaquim57@ig.com.br               |&2E1NY+ARc|1912-05-25        |BA    |2023-01-25   |78.196.255.126 |Rosa        |Esteticista                |41 7914-3753       |
|413.087.526-44|alexiada-rocha@ig.com.br          |@f@!Z!2c*2|1920-05-26        |MS    |2023-02-18   |182.61.65.201  |Laranja     |Microfonista               |(021) 3739-2944    |
|509.287.143-14|pmendes@gmail.com                 |M+^XDBfe(2|1938-03-11        |RR    |2023-01-19   |61.234.208.17  |Verde Claro |Fiscal                     |+55 (084) 5940-1932|
|563.170.492-70|renan46@bol.com.br                |Rp%2pVqfe$|1922-09-01        |PA    |2023-02-01   |122.203.83.177 |Verde Escuro|Contabilista               |+55 41 6248 5773   |
|098.712.346-78|manuelada-rosa@hotmail.com        |#hEIEOztQ3|2013-01-10        |SE    |2023-01-07   |175.18.73.211  |Violeta     |Seguidor De Compras        |51 0278 0564       |
|345.709.261-34|usales@ig.com.br                  |b_8xaY$ozJ|1992-10-16        |AM    |2023-01-05   |97.93.29.75    |Rosa        |Almirante                  |(084) 8993-4521    |
|318.254.906-51|pereiranicolas@hotmail.com        |YA9I85Wb+2|1945-11-18        |MA    |2023-01-24   |182.195.33.137 |Amarelo     |Consultor De Moda          |(084) 4591 3795    |
|610.287.453-62|cardosolivia@ig.com.br            |yXkDW7Ebh*|1915-11-15        |GO    |2023-01-22   |195.194.63.184 |Laranja     |Barbeiro                   |+55 61 8967-9563   |
|615.790.842-49|brenda39@ig.com.br                |XS$84Hpsnw|1964-02-01        |RJ    |2023-02-16   |21.252.226.29  |Branco      |Promotor De Vendas         |+55 (021) 4751 2004|
|624.095.138-24|luizapeixoto@gmail.com            |TbKy82Kda$|1959-02-01        |DF    |2023-02-25   |105.107.23.13  |Ciano       |Implantodontista           |84 1293 1906       |
+--------------+----------------------------------+----------+------------------+------+-------------+---------------+------------+---------------------------+-------------------+
only showing top 20 rows

In [10]:
# reagrupar um agrupamento anterior 
df.groupBy('estado', 'cor_favorita').count().groupBy('estado').sum('count')

+------+----------+
|estado|sum(count)|
+------+----------+
|    SC|        44|
|    RO|        39|
|    PI|        35|
|    AM|        34|
|    RR|        33|
|    GO|        45|
|    TO|        34|
|    MT|        29|
|    SP|        49|
|    ES|        38|
|    PB|        34|
|    RS|        39|
|    MS|        42|
|    AL|        36|
|    MG|        46|
|    PA|        28|
|    BA|        42|
|    SE|        44|
|    PE|        34|
|    CE|        45|
+------+----------+
only showing top 20 rows

In [14]:
# tirando a media

# df.groupBy('estado', 'cor_favorita').count().groupBy('estado').avg('count')

# maior valor
df.groupBy('estado', 'cor_favorita').count().groupBy('estado').max('count')

# menor valor
# df.groupBy('estado', 'cor_favorita').count().groupBy('estado').min('count')

+------+----------+
|estado|max(count)|
+------+----------+
|    SC|         6|
|    RO|         5|
|    PI|         6|
|    AM|         6|
|    RR|         5|
|    GO|         6|
|    TO|         5|
|    MT|         4|
|    SP|         7|
|    ES|         5|
|    PB|         4|
|    RS|         5|
|    MS|         6|
|    AL|         5|
|    MG|         7|
|    PA|         4|
|    BA|         6|
|    SE|         6|
|    PE|         6|
|    CE|         7|
+------+----------+
only showing top 20 rows

In [16]:
# o ano de cada data de nascimento contando a quantidade de registros

df.groupBy(F.year('data_de_nascimento')).count()

+------------------------+-----+
|year(data_de_nascimento)|count|
+------------------------+-----+
|                    1959|    8|
|                    1990|    7|
|                    1975|    7|
|                    1977|    5|
|                    1924|    9|
|                    2003|    7|
|                    2007|   12|
|                    2018|   13|
|                    1974|    7|
|                    2015|    9|
|                    2023|    2|
|                    1927|    6|
|                    1955|   13|
|                    2006|   14|
|                    2022|    9|
|                    1978|    6|
|                    1908|    8|
|                    1925|    7|
|                    1961|    7|
|                    2013|    9|
+------------------------+-----+
only showing top 20 rows