In [1]:
#Cria sessão Spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pyspark.sql.functions as F

In [2]:
#Instância Spark
spark = SparkSession.builder.appName('Curso Pyspark') \
         .config('spark.sql.repl.eagerEval.enabled', True) \
         .getOrCreate()

In [3]:
# lendo um arquivo parquet
df = spark.read.parquet('./DATASETS/COMPRAS.parquet')

In [4]:
df.show(20, truncate=0)

+------+---------------------+-------------------+---------------------------+----------+-------------------------+----------+--------+---------------+---------------------------------------+-----------+---------+----------+
|id    |cartao_data_expiracao|cartao_numero      |cartao_bandeira            |cartao_cvc|codigo_transacao_bancaria|data      |hora    |ipv4           |ipv6                                   |cep_entrega|cd_livro |cd_cliente|
+------+---------------------+-------------------+---------------------------+----------+-------------------------+----------+--------+---------------+---------------------------------------+-----------+---------+----------+
|012389|11/25                |5500804500517692   |Discover                   |959       |GB98MPIH62210859391317   |2021-07-24|03:21:28|62.145.31.164  |b23d:58a2:9eff:3667:47fe:d0bf:9241:433f|36629-219  |030334762|3339828   |
|012476|01/31                |4609489235873      |VISA 16 digit              |6979      |GB79GAVL23301081997574   |2021-08-23|11:15:52|185.150.224.52 |1e2c:f641:49d1:5ae9:6d41:4e4d:2dde:5f83|17012-747  |013721981|7624624   |
|012478|07/23                |30072722359174     |American Express           |689       |GB51SZOU53848453177346   |2020-01-27|17:08:10|40.179.153.24  |9bcd:ee0c:af68:33f3:c9dc:80ab:374b:40df|25921298   |019458805|8703114   |
|012534|09/29                |4561935154572      |VISA 16 digit              |353       |GB05UNEX02146651137482   |2021-07-15|07:39:25|86.20.51.194   |be57:8f94:132:1cb2:cd13:394a:1725:5e02 |73799370   |014347542|7799936   |
|012549|01/31                |3541220668415122   |JCB 15 digit               |967       |GB97RCCC58194262097481   |2020-07-22|23:56:14|55.189.220.65  |a1fd:9dd:115f:9d52:ccee:5176:697d:d49e |50727-454  |020215846|6703678   |
|012574|06/24                |4155061214506542   |JCB 16 digit               |362       |GB93YATI19716429228898   |2020-05-19|10:47:09|212.26.253.42  |1815:dc0e:c557:968b:edb8:4756:12:1185  |67662-182  |010325500|6273720   |
|012579|01/27                |30554213514227     |Maestro                    |9847      |GB54PQLN79970585948088   |2021-04-15|10:36:56|168.197.230.167|7f3b:4ada:4c62:3f3b:53ce:eecc:75a7:3ba9|61193-110  |053479015|6977964   |
|012648|05/24                |347386847428278    |VISA 16 digit              |823       |GB90MYZL51019328337831   |2021-06-19|13:07:48|146.108.131.11 |c52d:53d8:371a:34f2:b44e:bf38:573:fd16 |10059-723  |012331534|6616715   |
|012675|04/29                |4534805013764      |Mastercard                 |384       |GB11XMUH82487635157925   |2021-07-11|07:55:08|148.155.72.234 |b290:d2b7:6a58:86c0:eea4:1c7f:1d90:dd85|79292884   |035940339|649001    |
|012698|12/31                |4450657280386776   |American Express           |247       |GB79ECRO01786844752799   |2021-08-11|12:06:48|190.135.5.172  |7cbc:4554:7f5d:653f:ae1e:aa7d:da6e:5a72|93609312   |058320651|4523531   |
|012845|01/32                |6589457551152257   |Diners Club / Carte Blanche|081       |GB54ZAJA80081056170621   |2023-02-27|09:34:58|117.107.7.243  |d3f6:6a7f:32a8:eb35:7044:a9ab:aa32:aba4|65177115   |032169692|8443760   |
|012948|12/28                |373871288580551    |Diners Club / Carte Blanche|619       |GB43SXJF88950594445519   |2020-02-20|03:10:01|210.130.27.213 |9ae4:b03a:1a1f:c6b6:fa63:a2ed:da6:6902 |39334-766  |032169692|1235431   |
|012964|12/30                |4852311914204      |Mastercard                 |555       |GB64DLQF09005395403739   |2022-10-04|06:40:47|129.93.60.161  |5bfe:ad1b:a4f1:f261:7c34:c641:5e66:29f2|41199-650  |033338998|7811168   |
|012984|06/31                |4513536757134128830|VISA 19 digit              |834       |GB32QSLY82158320446241   |2020-08-05|09:45:12|141.203.245.233|7528:d2f8:fa09:8263:3817:bb4a:1ac:e2fd |84410-583  |042900595|2093927   |
|012986|10/26                |3585620838660639   |Mastercard                 |440       |GB79ZFSL74135556260152   |2020-05-06|23:22:03|221.251.216.243|5da7:4583:5800:9693:333f:ab09:f818:79d8|16961-730  |019458805|3945329   |
|013257|05/23                |6579633995016199   |VISA 13 digit              |9804      |GB93NZLK21811856371990   |2022-11-28|02:09:43|189.189.141.229|7b91:3b21:d3f1:3667:aa1:d4b5:c95b:30c8 |83312054   |027740385|6689138   |
|013265|12/31                |3535506018736607   |JCB 15 digit               |702       |GB97UUHZ23980488224754   |2020-10-27|18:17:07|24.152.218.181 |77da:6ce5:522a:ac8b:61e:d269:ce3d:cc9b |06479-166  |049141690|1942388   |
|013274|01/24                |3568580151701777   |JCB 16 digit               |257       |GB80ISML11644267154036   |2021-12-20|14:44:09|42.253.7.153   |cf6a:3335:55be:e0d9:ab71:1f5a:f367:d47a|30462-427  |104361784|2487770   |
|013457|06/28                |4589839699652790803|Maestro                    |280       |GB22HUUD09464282025985   |2021-10-26|23:04:27|207.179.196.45 |9b03:e5f0:c72f:c788:6b9:d7ca:e70e:d0ab |10506549   |021006591|4312106   |
|013478|07/24                |3560452545224585   |VISA 16 digit              |126       |GB63LUHF43745270279050   |2020-05-10|02:33:28|105.127.245.188|dd79:3fca:9d38:98ae:9caf:7f80:9f:4203  |10354-560  |019488257|670483    |
+------+---------------------+-------------------+---------------------------+----------+-------------------------+----------+--------+---------------+---------------------------------------+-----------+---------+----------+
only showing top 20 rows

In [8]:
(
    df
    .withColumn('mes', F.date_format('data', 'MMMM'))
    .groupBy('cartao_bandeira', 'mes')
    .agg(F.count('*'))
    
    .show(20, truncate=0)
)

+---------------------------+---------+--------+
|cartao_bandeira            |mes      |count(1)|
+---------------------------+---------+--------+
|Discover                   |June     |297     |
|American Express           |February |353     |
|VISA 19 digit              |July     |352     |
|American Express           |May      |346     |
|VISA 19 digit              |October  |324     |
|American Express           |December |332     |
|VISA 16 digit              |November |616     |
|Mastercard                 |August   |289     |
|JCB 16 digit               |July     |641     |
|JCB 15 digit               |March    |401     |
|Diners Club / Carte Blanche|October  |328     |
|VISA 13 digit              |August   |335     |
|Diners Club / Carte Blanche|April    |300     |
|Discover                   |September|310     |
|JCB 15 digit               |May      |337     |
|VISA 13 digit              |November |302     |
|JCB 15 digit               |February |374     |
|VISA 16 digit              |February |772     |
|VISA 19 digit              |January  |437     |
|JCB 15 digit               |June     |310     |
+---------------------------+---------+--------+
only showing top 20 rows

In [10]:
(
    df
    .withColumn('mes', F.date_format('data', 'MMMM'))
    .groupBy('cartao_bandeira')
    # transformar linhas em colunas
    .pivot('mes', ['January', 'February'])
    .agg(F.count('*'))
    
    .show(20, truncate=0)
)

+---------------------------+-------+--------+
|cartao_bandeira            |January|February|
+---------------------------+-------+--------+
|VISA 16 digit              |878    |772     |
|VISA 13 digit              |420    |350     |
|Discover                   |454    |406     |
|Diners Club / Carte Blanche|397    |395     |
|American Express           |385    |353     |
|Maestro                    |424    |374     |
|Mastercard                 |415    |359     |
|JCB 16 digit               |835    |756     |
|VISA 19 digit              |437    |388     |
|JCB 15 digit               |386    |374     |
+---------------------------+-------+--------+

In [22]:
df2 = (
    df
    .withColumn('mes', F.date_format('data', 'MMMM'))
    .groupBy('cartao_bandeira')
    # transformar linhas em colunas agrupando pelo mes e mostrando a quantidade para cada bandeira
    .pivot('mes', ['January', 'February']) # caso não coloque o segundo parametro automaticamente ele percorre todos os registros
    .agg(F.count('*'))
)

In [23]:

df2

+--------------------+-------+--------+
|     cartao_bandeira|January|February|
+--------------------+-------+--------+
|       VISA 16 digit|    878|     772|
|       VISA 13 digit|    420|     350|
|            Discover|    454|     406|
|Diners Club / Car...|    397|     395|
|    American Express|    385|     353|
|             Maestro|    424|     374|
|          Mastercard|    415|     359|
|        JCB 16 digit|    835|     756|
|       VISA 19 digit|    437|     388|
|        JCB 15 digit|    386|     374|
+--------------------+-------+--------+

In [25]:
# aqui estamos desfanzendo e voltando as colunas para linhas
df2.select('cartao_bandeira', F.expr('stack(2, "Jan", January, "Fev", February) as (mes, valor)'))

+--------------------+---+-----+
|     cartao_bandeira|mes|valor|
+--------------------+---+-----+
|       VISA 16 digit|Jan|  878|
|       VISA 16 digit|Fev|  772|
|       VISA 13 digit|Jan|  420|
|       VISA 13 digit|Fev|  350|
|            Discover|Jan|  454|
|            Discover|Fev|  406|
|Diners Club / Car...|Jan|  397|
|Diners Club / Car...|Fev|  395|
|    American Express|Jan|  385|
|    American Express|Fev|  353|
|             Maestro|Jan|  424|
|             Maestro|Fev|  374|
|          Mastercard|Jan|  415|
|          Mastercard|Fev|  359|
|        JCB 16 digit|Jan|  835|
|        JCB 16 digit|Fev|  756|
|       VISA 19 digit|Jan|  437|
|       VISA 19 digit|Fev|  388|
|        JCB 15 digit|Jan|  386|
|        JCB 15 digit|Fev|  374|
+--------------------+---+-----+