Tarefa
Utilize o dataset "Titanic - Machine Learning from Disaster" para realizar essa tarefa: https://www.kaggle.com/competitions/titanic/data

Um empresário do ramo de cruzeiros está procurando expandir seus negócios, mas precisa entender melhor seu público-alvo. Ele tem em mãos os dados do "Titanic - Machine Learning from Disaster", que contém informações sobre passageiros do navio Titanic. Com base nesses dados, o empresário pode tomar decisões mais informadas sobre como atrair e atender melhor seus clientes:

In [1]:
#Cria sessão Spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pyspark.sql.functions as F

In [2]:
#Instância Spark
spark = SparkSession.builder.appName('Curso Pyspark') \
         .config('spark.sql.repl.eagerEval.enabled', True) \
         .getOrCreate()

In [3]:
# lendo um arquivo parquet
df = spark.read.csv('./DATASETS/Desafio/titanic.csv',sep=',', header=True)

In [4]:
df.show(20, truncate=0)

+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                                   |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                                |male  |22  |1    |0    |A/5 21171       |7.25   |NULL |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |female|38  |1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                                 |female|26  |0    |0    |STON/O2. 3101282|7.925  |NULL |S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)           |female|35  |1    |0    |113803          |53.1   |C123 |S       |
|5          |0       |3     |Allen, Mr. William Henry                               |male  |35  |0    |0    |373450          |8.05   |NULL |S       |
|6          |0       |3     |Moran, Mr. James                                       |male  |NULL|0    |0    |330877          |8.4583 |NULL |Q       |
|7          |0       |1     |McCarthy, Mr. Timothy J                                |male  |54  |0    |0    |17463           |51.8625|E46  |S       |
|8          |0       |3     |Palsson, Master. Gosta Leonard                         |male  |2   |3    |1    |349909          |21.075 |NULL |S       |
|9          |1       |3     |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |female|27  |0    |2    |347742          |11.1333|NULL |S       |
|10         |1       |2     |Nasser, Mrs. Nicholas (Adele Achem)                    |female|14  |1    |0    |237736          |30.0708|NULL |C       |
|11         |1       |3     |Sandstrom, Miss. Marguerite Rut                        |female|4   |1    |1    |PP 9549         |16.7   |G6   |S       |
|12         |1       |1     |Bonnell, Miss. Elizabeth                               |female|58  |0    |0    |113783          |26.55  |C103 |S       |
|13         |0       |3     |Saundercock, Mr. William Henry                         |male  |20  |0    |0    |A/5. 2151       |8.05   |NULL |S       |
|14         |0       |3     |Andersson, Mr. Anders Johan                            |male  |39  |1    |5    |347082          |31.275 |NULL |S       |
|15         |0       |3     |Vestrom, Miss. Hulda Amanda Adolfina                   |female|14  |0    |0    |350406          |7.8542 |NULL |S       |
|16         |1       |2     |Hewlett, Mrs. (Mary D Kingcome)                        |female|55  |0    |0    |248706          |16     |NULL |S       |
|17         |0       |3     |Rice, Master. Eugene                                   |male  |2   |4    |1    |382652          |29.125 |NULL |Q       |
|18         |1       |2     |Williams, Mr. Charles Eugene                           |male  |NULL|0    |0    |244373          |13     |NULL |S       |
|19         |0       |3     |Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|female|31  |1    |0    |345763          |18     |NULL |S       |
|20         |1       |3     |Masselmani, Mrs. Fatima                                |female|NULL|0    |0    |2649            |7.225  |NULL |C       |
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

1 - O empresário quer saber se há alguma correlação entre a idade dos passageiros do Titanic e a classe em que estavam viajando. Ele gostaria de saber se os passageiros mais velhos tendiam a viajar em classes superiores ou inferiores. Como você poderia ajudá-lo a responder essa pergunta utilizando o conjunto de dados do Titanic?

In [5]:
(
df
.groupBy('Pclass')
.agg(F.round(F.avg('Age'),0).alias('Average_Age'))
.orderBy('Pclass')
.show(20, truncate=0)
)

+------+-----------+
|Pclass|Average_Age|
+------+-----------+
|1     |38.0       |
|2     |30.0       |
|3     |25.0       |
+------+-----------+


2 - O empresário está interessado em criar um programa de fidelidade para seus clientes, mas não tem certeza de qual abordagem seria mais eficaz. Ele gostaria de saber se há alguma relação entre o gênero dos passageiros do Titanic e a sobrevivência no navio.

In [6]:
(
df
.groupBy('Sex')
.agg(F.round(F.avg('Survived'),0).alias('Average_Survived'))
.orderBy('Sex')
.show(20, truncate=0)
)

+------+----------------+
|Sex   |Average_Survived|
+------+----------------+
|female|1.0             |
|male  |0.0             |
+------+----------------+

3 - Qual a probabilidade de sobrevivência de um passageiro de primeira classe com menos de 20 anos?

In [12]:
survival_rate = (
df
.filter((F.col('Pclass') == 1) & (F.col('Age') < 20))
.agg(F.avg('Survived').alias('Survival_Rate'))
.collect()[0]['Survival_Rate']
)
print(f'A probabilidade de sobrevivência de um passageiro de primeira classe com menos de 20 anos é de {survival_rate * 100:.2f}%')

A probabilidade de sobrevivência de um passageiro de primeira classe com menos de 20 anos é de 80.95%

4 - Quais as principais características em comum entre os sobreviventes do desastre do Titanic?

In [16]:
print("Sobreviventes por Classe:")
(
df
.filter(col('Survived') == 1)
.groupBy('Pclass').count().orderBy('Pclass')
.show(20, truncate=0)
)

Sobreviventes por Classe:
+------+-----+
|Pclass|count|
+------+-----+
|1     |136  |
|2     |87   |
|3     |119  |
+------+-----+

In [17]:
print("Sobreviventes por gênero:")
(
df
.filter(col('Survived') == 1)
.groupBy('Sex').count().orderBy('Sex')
.show(20, truncate=0)
)

Sobreviventes por gênero:
+------+-----+
|Sex   |count|
+------+-----+
|female|233  |
|male  |109  |
+------+-----+

In [22]:
print("Sobreviventes por idade (média de idade):")
(
df
.filter(col('Survived') == 1)
.agg(F.round(F.avg('Age'),0).alias('Survived_Average_Age'))
.show(20, truncate=0)
)

Sobreviventes por idade (média de idade):
+--------------------+
|Survived_Average_Age|
+--------------------+
|28.0                |
+--------------------+


5 - É possível identificar alguma correlação entre a idade e a taxa de sobrevivência dos passageiros que embarcaram em Southampton?

In [35]:
(
df
.filter(col('Embarked') == 'S')
.groupBy('Age')
.agg(F.round(F.avg('Survived'),2).alias('Survival_Rate_Southampton'))
.orderBy('Age')
.show(20, truncate=0)
)

AttributeError: 'GroupedData' object has no attribute 'orderBy'